<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider android:name="fr.astragames.app.data.local.FixtureDocumentsProvider"
            android:authorities="fr.astragames.app.test.storage"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true" android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <activity android:name=".windows.WindowsDisplayProbeActivity" android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>
